[Unit]
Description=Switch dark/light GTK theme automatically during day/night

[Timer]
OnBootSec=2 min
OnUnitActiveSec=1 hour
Persistent=true

[Install]
WantedBy=timers.target